
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700');

html, body{
    width:100%;
    height:100%;
}

body{
    background-color:#000;
    background: url('../images/starwars-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Anonymous Pro', monospace;
}

h1{
    color: #FFFF00;
    letter-spacing: 5px;
    padding: 20px;
    text-align: center;
}

.opener{
    position:relative;
    width: 650px;
    height:500px;
    margin: 5rem auto;
}

.opener h4{
    color: #FFFF00;
    text-align: center;
    margin-top: -15px;
}

.open-instr{
    padding: 0;
    padding-left: 40px;
    margin-top: -55px;
}

.open-btn{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    /* background-color:#F00; */
    opacity:.5;
}

.open-btn:hover{
 cursor:pointer;
}

.opener img{
    position:relative;

}

.playerChoose{
    display:flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    margin: 0 auto;
}

.battleground{
    display:flex;
    display: -webkit-flex; /* Safari */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    margin: 0 auto;
    width:50%;
    height:300px;
}

.player{
    margin: 1rem;
}

.player:hover{
    cursor:pointer;
}

.player img{
    width:150px;
    height:150px;
    border-radius:50%;
}

.player .name{
    background-color:greenyellow;
    margin-top: -30px;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 1.35rem;
}

.player .health{
    margin-top: -20px;
    width: 175px;
}

.health .hp{
    position: relative;
    display: inline;
    background-color:rgba(0,0,0,0);
    top: -15px;
    left: 0px;
    text-align: center;
    color:#FFF;
    font-weight:bold;
    z-index: 2;
}

.health span{
    display: inline-block;
    background-color: #FFF;
    position: relative;
    top: -34px;
    left: 0px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    z-index: -1;
}

.commentArea{
    align-self: flex-end;
    background-color:#FFF;
    padding: 10px 20px;
}

.commentArea p{
    margin:0;
}

.restart-btn{
    display:block;
    width:150px;
    margin: 1rem auto;
}

.heart-shape{
    position: relative;
    width: 24px;
    height: 24px;
    top:15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #FF0000;
  }
  .heart-shape:before,
  .heart-shape:after{
    position: absolute;
    width: 24px;
    height: 24px;
    content: '';
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: #FF0000;
  }
  .heart-shape:before{
    bottom: 0px;
    left: -12px;
  }
  .heart-shape:after{
    top: -12px;
    right: 0px;
  }